//- includes/mixins.jade

mixin sketchsheet(device, filters, dir)
  .column.item(class='#{filters}')
    .card
      input(type='checkbox' name='files[]' value='#{dir}')
      .overlay
        span Added to collection
      span
        i.icon-plus
        i.icon-check
      img(src='sketchsheets/#{dir}/thumb.png' alt='#{filters}')
      .downloadzip
        span(data-src='#{dir}' onClick="ga('send', 'event', 'Sketchsheet', 'Download', '#{device}');")
          | Download 